{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "import/no-extraneous-dependencies": [
      0,
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.story.js"
        ]
      }
    ],
    "import/named": 2,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/jsx-max-props-per-line": [2, { "maximum": 4, "when": "always" }],
    "object-curly-spacing": 2,
    "comma-dangle": 2,
    "semi": ["error", "never"]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true,
    "jasmine": true
  },
  "globals": {
    "document": false,
    "expect": false,
    "jest": false,
    "renderShallow": false,
    "renderMount": false,
  }
}
