.marker {
  cursor: pointer;

  &__body {
    fill: #09c;
  }

  &--active {
    z-index: 2;
  }

  &--active &__body {
    fill: #609;
  }

  &__text {
    position: absolute;
    right: -40px;
    left: -40px;

    display: none;

    text-align: center;
    // font-family:
    // font-size:
  }

  &--active &__text {
    display: block;
  }
}
